.postContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 0px;
  font-family: "Segoe UI", sans-serif;
}

.postCard {
  max-width: 1200px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.postCard:hover {
  transform: scale(1.02);
}

.postImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.postContent {
  padding: 24px;
}

.postDate {
  color: black;
  font-size: 14px;
}

.postTitle {
  color: black;
  font-size: 28px;
  margin: 10px 0;
}

.postDescription {
  color: black;
  font-size: 16px;
  line-height: 1.6;
}